!!!
%html
	%head
		%title index
		%link( rel="stylesheet" href="http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope")
		%script(src="static/js/jquery-1.7.2.min.js")
		%script(src="static/js/jquery-ui-1.8.11.custom.min.js")
		%link(rel="stylesheet" href="static/style/quotewall.css")
		%script(src="static/js/walled.js")
	%body
		#cardWall
			.card
				.quote 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit
					.name - Quisque ullamcorper
			.card
				.quote 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit
					.name - Curabitur tincidunt
			.card
				.quote 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit
					.name - Donec nulla
			.card
				.quote 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit
					.name - Phasellus eu